@mixin responsiveVideos() {
	position: relative;
	&:after {
		content: '';
		display: block;
		padding-top: 56.25%;
		width: auto;
	}
	& iframe,
	& object,
	& embed,
	& video {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		margin: 0;
	}
}