.pagination {
	text-align: center;
	margin-bottom: mrem(2);
	padding: 0 20px;
	@media only screen and (min-width: $tablet) {
		padding-left: mrem(2);
		padding-right: mrem(2);
	}
	a {
		text-decoration: none;
	}
	.nav-links {
		display: flex;
		justify-content: space-between;
		.next {
			margin-left: auto;
		}
		@media only screen and (min-width: $tablet) {
			display: block;
		}
	}
	.page-numbers {
		display: none;
		color: $secondary-text-color;
		font-size: 1em;
		&.prev,
		&.next {
			display: inline-block;
			.rtl & {
				-webkit-transform: rotate( 180deg );
					-ms-transform: rotate( 180deg );
						transform: rotate( 180deg );
			}
		}
		@media only screen and (min-width: $tablet) {
			display: inline-block;
			width: 36px;
			line-height: 36px;
			&.current,
			&.dots {
				color: rgba( $secondary-text-color, 0.5 );
			}
			&.prev,
			&.next {
				.post-pagi {
					display: none;
				}
			}
		}
	}
}

%navigation {
	margin: 0 auto mrem(2);
	a {
		text-decoration: none;
	}
}

.image-navigation {
	@extend %navigation;
	.nav-links {
		display: flex;
		justify-content: space-between;
	}
	.nav-next {
		.meta-nav {
			text-align: right;
		}
	}
	.nav-next,
	.nav-previous {
		max-width: 50%;
	}
}

.comment-navigation {
	@extend %navigation;
	.nav-links {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		a {
			display: inline-block;
		}
	}
	.nav-next {
		margin-top: 0;
		margin-left: auto;
		.meta-nav {
			text-align: right;
		}
	}
	.nav-next,
	.nav-previous {
		max-width: 50%;
	}
}

.post-navigation {
	@extend .comment-navigation;
	width: 100%;
	@media only screen and (min-width: $tablet) {
		.no-post-thumbnail & {
			margin-bottom: mrem(2);
		}
	}
	@media only screen and (min-width: $desktop__small) {
		margin-left: 0;
	}
}

.page-links {
	clear: both;
	padding-top: mem();
}